@charset "utf-8"; 
*{ /*applies the box-sizing property to all elements in the document to make sure that padding and borders are included in the element's total width and height.*/
  box-sizing: border-box; /*The box-sizing property isn't supported in IE6 and IE7.*/
  margin: 0px;
  padding: 0px;
} 
:root{ /*defines the root element kind off like html bellow but higher priority*/
--font_01:sans-serif;
--font_02:'Rubik'; /*NEED TO DELETE THE ' FOR IT TO WORK PLACE HOLDER FOR NOW*/
--color-white:#fff; /*Text*/
--color-primary: #161616; /*Background*/
--color-title:#f3c436; /*Link text footer*/
--color-line:#fff; /*Line color*/
--color-gra:linear-gradient(#9e355d, #7f3254, #4b2735 ); /*Footer*/
}
html { /*defines the styling for the HTML element, including the scroll behavior and padding.*/
  overflow-y:scroll; 
  height:100%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
body { /*defines the styling for the body element, including the background color, font family, size, and color, as well as the height, background image, and background attachment.*/
    margin: 0;
    width: 100%;
  background-color: var(--color-primary);
	text-align: left;
	font-family: var(--font_01);
    font-weight: 400;
	font-size: 16px;
	height: 100%;
}
/* main { defines the styling for the main element, including the padding 
  padding-left: 5%;
  padding-right: 5%;
}*/
.header { /*defines the styling for the header, IT DOES NOT DO ANYTHING FOR NOW AND I AM NOT TAKING IT OUT FOR THE SECOND*/
  background-color: var(--color-primary);
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
section { /*defines the styling for the section, font - only used right now for the img with text over it might delete*/
  font-family: var(--font_01);
}
img { /*defines the styling for images*/
  overflow-clip-margin: content-box;
  overflow: clip;
}
a {
  color: var(--color-white);
}
p {
  color: var(--color-white);
}
.bolded { /*BOLDED*/
  font-weight: bold; 
}
.title {
  color: var(--color-title);
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.text{
  color: var(--color-line);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* POPUP */

.popup {   
  background: #009579;
  position: fixed;
  z-index: 9999; /* Add this line */
}
.popup__content {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.popup__text {
  flex-grow: 1;
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
}
.popup__close {
  background: none;
  border: none;
  cursor: pointer;
}
.popup__text,
.popup__close span {
  color: #ffffff;
}

/* LOGO BIG & SMALL */

.logo {
  width: auto;
  height: 60px;
  margin-right: 10px;
  position: fixed;
  top: 1%;
  left: 1%;
  z-index: 990;
}
.small-logo {
  width: auto;
  height: 40px;
  position: fixed;
  top: 1%;
  left: 1%;
  z-index: 990;
}
.small-logo { /* Hide the small logo by default */
  display: none;
}
@media (max-width: 1400px) { /* Hide the large logo when the screen size is less than 1400px */
  .logo {
    display: none;
  }
  .small-logo {  /* Show the small logo when the screen size is less than 1400px */
    display: block;
  }
}

/* NAVIGATION BAR */

.topnav {
    color: white;
    border-radius: 50px;
    position: fixed;
    top: 1%;
    z-index: 990;
    left: 90%;
  }
  .topnav .mainMenu {
    background: rgb(0, 0, 0, 0.500);
    color: white;
    display: flex;
    align-items: center;
    border: 2px solid var(--color-title);
    border-radius: 50px;
    position: fixed;
    top: 1%;
    left: 50%; 
    transform: translateX(-50%);
    width: auto;
    list-style: none;
    padding: 0px 22px;
  }
  .topnav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
  }
  .topnav .mainMenu li a:hover {
    background: var(--color-primary);
  }
  .topnav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  .topnav .mainMenu .closeMenu,
  .icons i { /*For the icons in the mobile top nav menu open and close*/
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  .fa-youtube:hover {
    color: rgb(255, 123, 0);
  }
  @media (max-width: 800px) {
    .topnav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--color-primary);
      transition: top 1s ease 0s;
      display: none;
      transform: translateX(0);
      border-radius: 0px;
    }
    .topnav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .topnav .openMenu {
      display: block;
    }
    .topnav .mainMenu li a:hover {
      background: none;
      color: rgb(255, 123, 0);
    }
    .icons i {
      display: inline-block;
      padding: 12px;
    }
  }

/*  BANNER  */

  .banner {
    position: relative;
    text-align: center;
    max-width: 100%;
  }
  .banner img {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
  }
  .overlay h1 {
    margin: 0;
    animation: fadeIn 3s;
    color: var(--color-title);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 70px;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @media (max-width: 1400px) {
    .overlay h1 {
      font-size: 36px;
    }
  }
  .overlay p {
    font-size: 18px;
    color: var(--color-white);
  }
  @media (max-width: 1400px) {
    .overlay p {
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 1024px) { /*Moves the overlay down to fit well on smaller screens*/
    .overlay {
      position: static;
      transform: none;
      text-align: left;
    }
    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      text-align: center;
    }
    p {
      font-size: 1.2rem;
      margin-top: 0;
    }
  }

/*  MARQUEE (aka scrolling images)  @Index  */

@keyframes marquee { /*marquee aka the logos animated bar BROKEN ON LOOP CAN'T FIGURE OUT FOX AT THE TIME*/
0% {
    transform: translateX(0%);
}
100% {
    transform: translateX(-50%);
}
}
.sponsors:where(.movingimage) {
  background: white;
  width: fit-content;
  overflow: hidden;
  max-width: 100%;
}
.marquee:where(.movingimage) {
  display: flex;
  align-items: center;
  height: 5rem;
  width: fit-content;
  will-change: transform;
  animation: marquee 20s linear infinite;
}
.sponsors:where(.movingimage) img:where(.movingimage) {
  width: 8rem;
  height: 3.5rem;
  margin: 0 2rem;
}

/*  FOOTER  */

.footer{ /*THIS IS IN THE FOOTER RIGHT NOW*/
  max-width:1100px; 
  width: 90%; 
  margin: 0 auto;
}
a { /*This deletes underline in Links and ads hover transition  */
  color: var(--color-white);
  text-decoration: none;
  outline:none;
  transition: 0.2s;}
a:hover {
  transition: 0.2s;
}
footer{
  background: var(--color-gra);
  font-family:  "Quicksand", sans-serif;
  color: #fff;padding: 20px 0;
  line-height: 2em;
}
footer .footer-box{ 
  display: flex; 
  justify-content: space-between; 
  margin-bottom: 60px;
}
footer .footer-box a{
  position: relative; 
  transition: .3s;
}
footer .footer-box a::before{
  position: absolute; 
  content: ''; 
  width: 0; 
  height: 1px; 
  left: 0; 
  bottom: -.2em; 
  background-color: var(--color-white); 
  transition: .3s;
}
footer .footer-box a:hover{
  opacity: .7; 
  transition: .3s;
}
footer .footer-box a:hover::before{
  width: 100%; 
  transition: .3s;
}
footer .footer-box a.footer-logo::before{
  content: none;
}
footer .footer-box .footer-left{
  width: 50%; 
  text-align: left;
}
footer .footer-box .footer-left .footer-logo{ 
  display: block; 
  line-height: 0; 
  margin-bottom: 40px;
  max-width: 200px;
}
footer .footer-box .footer-left .footer-logo img {
  max-width: 400px;
}
footer .footer-box .footer-left .footer-nav ul{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
footer .footer-box .footer-left .footer-nav ul li{
  margin-right: 1em; 
  display: inline-block;
}
footer .footer-box .footer-left .footer-nav ul li a{ 
  color: var(--color-white);
  font-size: 20px;
  font-weight: bold;
}
footer .footer-box .footer-left .footer-nav ul.nav_02 li a{
  font-size: 16px;
}
footer .footer-box .footer-left .footer-nav ul.nav_03 li a{
  font-size: 14px;
  font-weight: 400;
}
footer .footer-box .footer-right{
  width: 40%;
  text-align: left;
}
footer .footer-box .footer-right .content{
  border-bottom: 1px solid #fff;
  padding: 20px 0 12px;
  font-size: 14px;
}
footer .footer-box .footer-right .content .wave{
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1em;
}
footer .footer-box .footer-right .content ul{
  display: flex;
  flex-wrap: wrap;
}
footer .footer-box .footer-right .content ul li{
  margin-right: 30px;
}
footer .footer-box .footer-right .content ul li a{
  color: var(--color-title)
}
footer .footer-copy{
  text-align: left;
}
@media only screen and (max-width: 768px){
    footer{ padding: 60px 0;}
    footer .footer-box{ display: block;}
    footer .footer-box a:hover{opacity: 1; transition: 0;}
    footer .footer-box a:hover::before{width: 0; transition: 0;}
    footer .footer-box .footer-left{ width: 100%;margin-bottom: 30px;}
    footer .footer-box .footer-left .footer-logo{width: 50vw;}
    footer .footer-box .footer-left .footer-logo img{width: 100%;}
    footer .footer-box .footer-left .footer-nav ul{ margin-bottom: 4px;}
    footer .footer-box .footer-left .footer-nav ul li a{ font-size: 16px;}
    footer .footer-box .footer-left .footer-nav ul.nav_02 li a{ font-size: 14px;}
    footer .footer-box .footer-left .footer-nav ul.nav_03{ display: block;}
    footer .footer-box .footer-left .footer-nav ul.nav_03 li a{ font-size: 12px;}
    footer .footer-box .footer-right{ width: 100%;}
    footer .footer-box .footer-right .content ul li{ margin-right: 18px;display: inline-block;font-size: 13px;}
}

/*  EVEN IMAGE COLUMNS @Index  */

.even-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*This is the sizing for the column grid it uses fractions*/
  margin-inline: auto;
  padding-block: 0rem;
  width: min(95%, 100rem);
  gap: 5rem;
}
.even-columns-title{
  font-family: var(--font_01);
  text-align: center;
  color: var(--color-title);
  padding-bottom: 5px;
}
.even-columns-text{
  font-family: var(--font_01);
  text-align: justify;
  color: var(--color-white);
  font-size: 16px ;
}
.even-columns-img{
 align-content: center;
 max-width: 100%;
}
@media only screen and (max-width: 830px) {/*Makes the columns stack to fit well on mobile*/
  .even-columns {
    display: block ;
    grid-template-columns: 1fr;
    gap: 0rem;
  }
  .even-columns > div {
    width: 100%;
    margin-bottom: 10px;
  }
  .even-columns-title{
    font-size: 25px;
  }
  .even-columns-img{
    max-width: 50%;
    margin: 0 auto;
    justify-content: center; /* Added property */
    display: flex;
    margin-bottom: 5px;
   }
}

/*  OTHER TALENT IMAGE @Index  */

.othertalent img {
  display: block;
  height: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*  FAQ  */

.collapsible-faq {
  /* Style the button that is used to open and close the collapsible content */
  background: var(--color-title);
  color: var(--color-primary);
  cursor: pointer;
  padding: 18px;
  width: 30%;
  outline: none;
  font-size: 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: #9e355d;
  border-radius: 25px;
  transition: border-radius 1s; /* Add a transition for border-radius */
}
.collapsible-faq.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  transition: none; /* Disable transition when open */
}
.collapsible-faq-content {
  padding: 0 18px;
  background-color: var(--color-title);
  max-height: 0;
  width: 30%;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  border: #f3c436;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: none;
}
.collapsible-faq-content.closed {
  border-top: none;/* Remove the border when content is closed */
}
.blacktext-faq {
  color: var(--color-primary);
  padding: 10px;
}

/* JOIN US */

.joinus-image img{
  /* Add the blur effect */
  filter: blur(2px);
  /* Full height */
  /* Center and scale the image nicely */
  display: block;
  width: 100%;
  max-height: 500px;
  position: relative;
  max-width: 100%;
}
/* Position text in the middle of the page/image */
.joinus-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid var(--color-title);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -300%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}
.button-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -240%);
  display: flex;
  flex-direction: row; /* Ensure buttons are in a row */
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  z-index: 3; /* Ensure the buttons are on top of the image and text */
}
/* Style the buttons */
.button {
  background-color: rgba(0,0,0, 0.7);
  color: var(--color-white);
  padding: 10px 20px;
  border: 3px solid var(--color-title);
  cursor: pointer;
  margin: 10px; /* Add some spacing between buttons */
  font-size: 20px;
}
@media only screen and (max-width: 1024px){
  .joinus-text{
    transform: translate(-50%, -240%);
    width: 100%;
  }
  .button-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -140%);
  }
}
@media only screen and (max-width: 768px){
  .joinus-text{
    transform: translate(-50%, -160%);
    width: 100%;
  }
  .button-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}
@media only screen and (max-width: 600px){
  .joinus-text{
    transform: translate(-50%, -160%);
    width: 100%;
  }
  .button-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}


