html,
body {
  margin: 0;
  background-color: #242424;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
}
@media (max-width: 600px) {
  nav {
    flex-direction: column;  /* set the flex direction to column when the screen width is less than 600px */
  }
  
  nav li {
    flex: none;  /* set the flex property of the navigation items to none */
  }
  
  nav a {
    padding: 10px 0;  /* reduce the padding of the navigation items */
  }
}
.popup {
  background: #009579;
  position: fixed;
  z-index: 9999; /* Add this line */
}
.popup__content {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.popup__text {
  flex-grow: 1;
  line-height: 1.4;
  font-family: "Quicksand", sans-serif;
}
.popup__close {
  background: none;
  border: none;
  cursor: pointer;
}
.popup__text,
.popup__close span {
  color: #ffffff;
}
.banner2 {
  height: 650px;
  background-image: url("https://spaces.w3schools.com/images/HVYepJYeHdQ.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000015;
}
.banner2-description {
  height: 650px;
  background-color: rgba(0, 0, 21, .7);
  display: flex;
}
.banner2-text {
  width: 70% !important;
  margin: auto !important;
  display: flex;
  flex-wrap: wrap;
}
.banner2-text p {
  color: white;
  width: 50%;
}
.banner2-title {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 80px;
  color: orange;
  text-align: center;
}

